body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e2022;
    font-family: Arial, sans-serif;
    
}

#game-container {
    /* position: relative;
    width: 400px;
    height: 600px;
    border: 2px solid #000;
    overflow: hidden;
    background-image:url( "WhatsApp\ Image\ 2024-08-30\ at\ 5.47.24\ AM.jpeg");
     */
     position: relative;
     width: 400px;
     height: 600px;
     border: 2px solid #000;
     overflow: hidden;
     background-image: url("WhatsApp Image 2024-08-30 at 5.47.24 AM.jpeg");
     background-size: cover; /* Ensures the image covers the entire container */
     background-position: center; /* Centers the image */
     background-repeat: no-repeat;
}

#basket {
    position: absolute;
    bottom: 20px;
    width: 80px;
    height: 40px;
    background-color: #ff6347;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#fruit {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffa500;
    border-radius: 50%;
    top: 0;
}

#score-board {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    font-size: 18px;
}
